.aC3v6v {
    background: #0000000d;
}
.ZzuSNS {
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
}
.vOQBhV {
    border-bottom: 1px dotted #00000017;
    width: 100%;
    height: 0;
    position: relative;
}
.MwCO3u {
    background-color: #fffcf5;
    padding: 0 24px;
}
.tKx41q {
    background: #fafafa;
    margin-top: 12px;
}
.TNIu7N {
    background-color: #fff;
    margin-top: 12px;
    padding: 16px 24px;
}
.ZzuSNS .JDwDHl {
    color: #0000008a;
    align-items: center;
    margin-right: 16px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
}
.ZzuSNS .JDwDHl>svg {
    height: 16px;
    margin: 0 5px 0 0;
    font-size: 14px;
}
svg:not(:root) {
    overflow: hidden;
}
.ZzuSNS .JDwDHl {
    color: #0000008a;
    align-items: center;
    margin-right: 16px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
}
.MwCO3u .EQyuwJ {
    justify-content: flex-end;
    padding: 20px 0;
    display: flex;
}
.MwCO3u .EQyuwJ .PZgRLC {
    flex-direction: column;
    flex: 1;
    display: flex;
    text-align: end;
}
.MwCO3u .EQyuwJ .PZgRLC .ck0Uw9 {
    color: #ee4d2d;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.MwCO3u .EQyuwJ .PZgRLC .W8cHm8 {
    color: #000000a6;
    font-size: 14px;
    line-height: 20px;
}
.MwCO3u .nAeyvB {
    flex-direction: column;
    width: 50%;
    margin-top: 12px;
    display: flex;
}
.tKx41q .x9HmZJ {
    border-bottom: 1px dotted #00000017;
    padding: 20px 24px 0;
}
.tBCtWz {
    border-bottom: 1px solid #00000017;
    align-items: center;
    padding-bottom: 20px;
    display: flex;
}
.vAQAmD {
    padding: 16px 0;
}
.vAQAmD>a {
    color: inherit;
    align-items: center;
    display: flex;
}
.vAQAmD>a>:not(:last-child) {
    margin-right: 16px;
}
.vAQAmD .x5vMbk>img {
    box-sizing: border-box;
    object-fit: cover;
    border: 1px solid #00000017;
    border-radius: 3px;
    width: 85px;
    height: 85px;
    display: block;
}
.vAQAmD .iX_ZXQ {
    flex-direction: column;
    flex: 1;
    align-self: flex-start;
    display: flex;
}
.vAQAmD .iX_ZXQ .OvglF_ {
    color: #000000de;
    font-size: 16px;
    line-height: 22px;
}
.vAQAmD .iX_ZXQ>:not(:last-child) {
    margin-bottom: 2px;
}
.vAQAmD .iX_ZXQ .HszWOL {
    color: #0000008a;
    text-overflow: ellipsis;
    white-space: normal;
    flex: 1;
    font-size: 12px;
    line-height: 22px;
    overflow: hidden;
}
.vAQAmD .iX_ZXQ>:not(:last-child) {
    margin-bottom: 2px;
}
.vAQAmD .iX_ZXQ .UOsRMz {
    color: #0000008a;
    font-size: 14px;
    line-height: 20px;
}
.vAQAmD .iX_ZXQ .OvglF_ {
    color: #000000de;
    font-size: 16px;
    line-height: 22px;
}
.vAQAmD .pIi9iW {
    text-align: right;
}
.aNNsGB .sLVfna {
    color: #0006;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}
.nJ4hHl .FZn8xK {
    text-align: end;
    border-bottom: 1px dotted #00000017;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.nJ4hHl .FZn8xK .dSdz57 {
    color: #0000008a;
    flex: 1;
    padding: 10px 10px 10px 24px;
    font-size: 12px;
    line-height: 16px;
}
.nJ4hHl .FZn8xK .mDgIcz {
    word-wrap: break-word;
    color: #000000de;
    border-left: 1px dotted #00000017;
    justify-content: flex-end;
    width: 240px;
    font-size: 14px;
}
.nJ4hHl .FZn8xK .dSdz57>span {
    vertical-align: middle;
    display: inline-block;
}
.nJ4hHl .FZn8xK .dSdz57 {
    color: #0000008a;
    flex: 1;
    padding: 10px 10px 10px 24px;
    font-size: 12px;
    line-height: 16px;
}
.S2fAjM {
    text-transform: capitalize;
    color: #000c;
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}
.mDgIcz {
    vertical-align: middle;
    text-align: center;
}
.nJ4hHl .FZn8xK .mDgIcz .YK5r0w, .nJ4hHl .FZn8xK .mDgIcz .c_DjrS, .nJ4hHl .FZn8xK .mDgIcz .S2ZN0Z {
    box-shadow: none;
    cursor: pointer;
    background: 0 0;
    border: 0;
    padding: 0;
    display: inline-block;
}
