#breadcrumbs.bannerTopHead .block-breadcrumbs.affix,#breadcrumbs.topBarHeader .block-breadcrumbs.affix {
    top: 72px
}

#breadcrumbs.topBarHeader.bannerTopHead .block-breadcrumbs.affix {
    top: 102px
}

#breadcrumbs {
    overflow: hidden;
    position: relative;
    width: 100%
}

#breadcrumbs .block-breadcrumbs {
    align-items: center;
    background: #fff;
    display: flex;
    height: 48px;
    overflow-x: auto;
    padding: 8px 0 0 0;
    position: relative;
    transition: box-shadow .3s ease;
    width: 100%;
    z-index: 1
}

#breadcrumbs .block-breadcrumbs.showShadow {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),0 2px 6px 2px rgba(60,64,67,.15)
}

#breadcrumbs .block-breadcrumbs.affix {
    left: 0;
    position: fixed;
    top: 64px;
    z-index: 30
}

#breadcrumbs .block-breadcrumbs.affix+.clear {
    padding-top: 48px
}

#breadcrumbs .block-breadcrumbs ul {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%
}

#breadcrumbs .block-breadcrumbs ul li {
    align-items: center;
    display: flex;
    width: auto
}

#breadcrumbs .block-breadcrumbs ul li a,#breadcrumbs .block-breadcrumbs ul li p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    margin-right: 10px;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap
}

#breadcrumbs .block-breadcrumbs ul li a {
    color: #18181b
}

#breadcrumbs .block-breadcrumbs ul li p {
    color: #707070
}

#breadcrumbs .block-breadcrumbs ul li div {
    display: flex
}

#breadcrumbs .block-breadcrumbs ul li div svg {
    height: 16px;
    margin-right: 4px
}

#breadcrumbs .block-breadcrumbs ul li .separator {
    color: #707070;
    font-size: 14x;
    margin-right: 10px
}

@media only screen and (max-width: 768px) {
    .cps-category #breadcrumbs .block-breadcrumbs,.cps-category #breadcrumbs .block-breadcrumbs .cps-container,.cps-category #breadcrumbs .block-breadcrumbs ul {
        padding:0
    }
}
